form {
  display: grid;
  grid-gap: 40px;
}
form section {
  display: grid;
}
label {
  font-size: 25px;
  margin-bottom: 10px;
}
input,
textarea {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #ddd;
  border: none;
}
textarea {
  resize: vertical;
  margin-bottom: 10px;
}
.answer-counter {
  text-align: right;
}
