header {
  background-color: #144bc2;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
h1 {
  color: #fff;
  font-weight: normal;
  font-size: 30px;
}
