/* style user profile first section */
.profile-name {
  display: flex;
  gap: 30px;
  align-items: center;
}
.profile-name img {
  width: 100px;
}
.profile-name h2 {
  font-size: 25px;
}

.user-profile {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}

/* style user profile text */
.user-profile__about h3 {
  font-size: 20px;
  font-weight: normal;
}
.user-profile__about {
  margin-bottom: 30px;
}
.user-profile h2 {
  margin-bottom: 20px;
}

/* style user profile counters */
.counter,
.counter__item {
  display: flex;
}
.counter {
  justify-content: space-around;
}
.counter__item {
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ddd;
  padding: 10px;
  border-radius: 50px;
  font-size: 20px;
  width: 90px;
}
.counter__item img {
  width: 35px;
}

/*style settings*/
.settings h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
.settings__darkmode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings__darkmode label {
  font-size: 20px;
  user-select: none;
}
.settings__darkmode button {
  background-color: #ddd;
  padding: 15px;
  border-radius: 50px;
  font-size: 25px;
  width: 60px;
  border: none;
  text-align: left;
  height: 40px;
  position: relative;
}
.settings__darkmode button:hover {
  background-color: #ccc;
}
.settings__darkmode button span {
  width: 24px;
  height: 24px;
  background-color: #000;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.settings__darkmode button:focus span {
  left: 28px;
}
